# Maven build
/target/

# Eclipse / STS
/.settings/
/.classpath
/.project
/.springBeans
/.factorypath

# Project temporary files
/output/
/tmp/

# Logs
*.log
*.dmp

# OS files
.DS_Store
Thumbs.db

# Local DB credentials
/src/main/resources/db.properties

/src/main/resources/upload.properties