<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.or.oti.mapper.BoardMapper">

	<select id="selectPage" resultType="kr.or.oti.domain.BoardVO">
		SELECT
            BNO,
            CAFE_BOARD_ID AS cafeBoardId,
            TITLE,
            CONTENT,
            WRITER,
            REGDATE,
            MODDATE
        FROM BOARD
        
        <where>
        	CAFE_BOARD_ID = #{cafeBoardId}
        	
        	<if test="pageRequest.keyword != null and pageRequest.keyword != ''">
        	
        		AND
        		
        		<choose>
        			<when test='pageRequest.type == "T"'>
        				TITLE LIKE '%' || #{pageRequest.keyword} || '%'
        			</when>
        			<when test='pageRequest.type == "W"'>
        				WRITER LIKE '%' || #{pageRequest.keyword} || '%'
        			</when>
        			<when test='pageRequest.type == "C"'>
        				CONTENT LIKE '%' || #{pageRequest.keyword} || '%'
        			</when>
        		</choose> 		
        	</if>
        </where>
        
        ORDER BY BNO DESC
        OFFSET #{pageRequest.skip} ROWS
        FETCH NEXT #{pageRequest.size} ROWS ONLY
	</select>
	
	<select id="selectTotalCount" resultType="int">
		SELECT
			COUNT(*)
		FROM BOARD
		
		<where>
			CAFE_BOARD_ID = #{cafeBoardId}
			
        	<if test="pageRequest.keyword != null and pageRequest.keyword != ''">
        	
        		AND
        	
        		<choose>
        			<when test='pageRequest.type == "T"'>
        				TITLE LIKE '%' || #{pageRequest.keyword} || '%'
        			</when>
        			<when test='pageRequest.type == "W"'>
        				WRITER LIKE '%' || #{pageRequest.keyword} || '%'
        			</when>
        			<when test='pageRequest.type == "C"'>
        				CONTENT LIKE '%' || #{pageRequest.keyword} || '%'
        			</when>
        		</choose> 
        	</if>
        </where>
	</select>
	
	<select id="selectOne" resultType="kr.or.oti.domain.BoardVO">
		SELECT
			BNO,
			CAFE_BOARD_ID AS cafeBoardId,
			TITLE,
			CONTENT,
			WRITER,
			REGDATE,
			MODDATE
		FROM BOARD
		WHERE BNO = #{bno}
	</select>
	
	<insert id="insertOne">
		<selectKey	keyProperty="bno" resultType="long" order="BEFORE">
			SELECT SEQ_BOARD.NEXTVAL
			FROM DUAL
		</selectKey>
		INSERT INTO BOARD(
			BNO,
			CAFE_BOARD_ID,
			TITLE,
			CONTENT,
			WRITER
		)
		VALUES (
			#{bno},
			#{cafeBoardId},
			#{title},
			#{content},
			#{writer}
		)
	</insert>
	
	<update id="updateOne">
		UPDATE BOARD
		SET 
			TITLE = #{title},
			CONTENT = #{content},
			MODDATE = SYSDATE
		WHERE BNO = #{bno}
	</update>
	
	<delete id="deleteOne">
		DELETE FROM BOARD
		WHERE BNO = #{bno}
	</delete>
	
</mapper>